*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
header{
    width: 100%;
    height: 40%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header h1{
    font-size: 40px;
    padding: 10px;
    margin-top: 50px;
}
header form{
    width: 500px;
    margin: auto;
    max-width: 100%;
    position: relative;

}
form input {
    width: 100%;
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    outline: none;
}
form input[type='submit']{
    background-color: rgb(206, 126, 139);
    position: absolute;
    width: 120px;
    right: 0;
    outline: none;
    cursor: pointer;
}
.listBox, .lists{
    width: 500px;
    max-width: 100%;
    margin: auto;
    height: 60%;
}
.listBox p {
    font-size: 26px;
}
.lists {
    line-height: 1.3;
    font-size: 22px;
    text-align: left;
}
.btn2 {
    border: 0;
    outline: none;
    border-radius: 10px;
    background-color: lightgreen;
    cursor: pointer;
    padding: 5px;
}
.singer{
    font-family: 300;
    font-size: 24px;
}
